:root {
    --content_flow: row;
}

@media (max-width: 1160px) {
    :root {
        --content_flow: column-reverse;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: xx-large;
    margin-top: 0px;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    background-image: linear-gradient(305deg,
            rgba(0, 102, 255, 0.021),
            rgba(0, 162, 255, 0.555));
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 20px;
}

.nav-link {
    width: 10em;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
}

.nav-link:hover {
    animation-name: button_hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px 100px 20px 100px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#main_content_container {
    margin: auto;
    display: flex;
    flex-direction: var(--content_flow);
    grid-template-columns: 50% 50%;
    justify-content: center;
}

#main_content {
    margin: 20px;
}

#main_content li {
    list-style-type: none;
}

#main_content ul {
    margin: 0px;
    padding: 0px;
}

#image_container {
    display: flex;
    /* justify-content: center; */
}

#profile_image {
    margin: 20px;
    width: 100%;
    height: auto;
}

.icons {
    width: 50px;
    height: 50px;
}

footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: var(--content_flow);
}

.footer_link {
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    width: 10em;
}

.footer_link:hover {
    animation-name: button_hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes button_hover {
    50% {
        transform: scale(1.05);
        background-image: linear-gradient(45deg,
                rgba(0, 102, 255, 0.021),
                rgba(0, 162, 255, 0.555));
    }

    100% {
        color: white;
        background-image: linear-gradient(45deg,
                rgba(0, 102, 255, 0.021),
                rgba(0, 162, 255, 0.555));
    }
}